## exlcude mac os file
.DS_Store

## exclude folder
/data/**
/result/**
/torchattacks/**
/secml_malware/**
/test/**
/log/**
/.idea/**
/checkpoint/**
/backup/**
/config/**
/src/android/**
/src/debug_script/**
/attacks/attckbox/temp/**

## exclude file
.sh

##exclude temporarily, will release after paper published
#/src/**
#/attacks/**
